@charset "UTF-8";
.box {
	border: 0.5px lightgray solid;
	border-radius: 10px;
	padding: 25px;
	margin-top: 20px;
	box-shadow: 5px 10px 10px 5px #072f4f;
}
table {
	text-align:center;
}

.title {
	display: flex;
	flex-wrap: wrap;
	vertical-align:middle;
	align-items: center;
}

.head-title {
	margin-bottom: 0px;
}

.sub-title {
	margin-bottom: 0px;
	margin-left: 30px;
}

.anchor {
	display: inline-block;
	margin-top: 15px;
}

.icon {
	margin-bottom:20px;
	display: flex;
	justify-content: center;
}

.span {
	margin-left: 10px;
}

.button {
	display: flex;
	justify-content: center;
}

.btn {
	margin-top: 30px;
	width: 70%;
}

.nowrap {
	white-space: nowrap
}

.align {
	vertical-align:middle;
}

.th{
 	position: sticky;
    top: 0;
}

.header {
	height:54px; 
	border-bottom: 1px lightgray solid;
	background-color:white; 
	position:relative; 
	top: 0; 
	left: 0; 
	z-index:2; 
	display:flex; 
	align-items:center;
}

.top-space {
	height:54px; 
}

.modal-header {
	background-color: #072f4f; 
}

.modal-text {
	color: white;
}